.main__desc {
	max-width: 1000px;
	margin: 30px auto;
	background: white;
	border-radius: 30px;
}
.desc__item {
	padding: 20px;
	font-size: 24px;
	color: #1a1c48;
	span {
		font-size: 20px;
		font-family: "Loto-bold";
	}
	&:nth-child(2n) {
		background-color: rgb(5, 5, 64);
		color: white;
	}
}
.desc__text {
	font-size: 16px;
}
.desc__wikipedia {
	font-size: 16px;
	a {
		text-decoration: none;
		color: white;
	}
}
