.main__desc {
	max-width: 1000px;
	margin: 30px auto;
	background: rgba(255, 255, 255, 0.02);
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 30px;
}
.desc__item {
	padding: 20px;
	font-size: 24px;
	span {
		font-size: 20px;
		font-family: "Loto-regular";
		color: white;
		color: #9499c3;
	}
	&:nth-child(2n) {
		background-color: #9499c3;
		color: darkblue;
		span {
			color: black;
		}
	}
}
.desc__text {
	font-size: 16px;
}
.desc__wikipedia {
	font-size: 16px;
	a {
		text-decoration: none;
		color: darkblue;
	}
}
