.main__cover {
	width: 100%;
	position: relative;
}
.cover__title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 62px;
}
.cover__img {
	width: 100%;
	height: 100vh;
	object-fit: cover;
}
@media (max-width: 1275px) {
	.cover__title {
		font-size: 52px;
	}
}
