.auth__box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.auth {
	background-color: rgb(255, 255, 255);
	padding: 30px;
	border-radius: 40px;
}
.auth__title {
	text-align: center;
	color: #1a1c48;
}
