.main__dragons__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 100px;
}
.dragons__item {
	flex: 0 1 100%;
	margin-bottom: 50px;
	display: flex;
	text-align: right;
	&:nth-child(2n) {
		text-align: left;
		flex-direction: row-reverse;
	}
}
.dragon__info {
	flex: 0 0 50%;
	margin-left: 30px;
	background-color: rgb(33, 33, 77);
	padding: 30px;
	border-radius: 50px;
	&:nth-child(2n) {
		margin-right: 30px;
	}
}
.dragon__text {
	margin-bottom: 20px;
	font-size: 24px;
	span {
		color: orangered;
	}
}
.dragon__link {
	text-decoration: none;
	display: block;
	background-color: orangered;
	width: 200px;
	margin: 0px 0px 0px auto;
	text-align: center;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 30px;
	cursor: pointer;
	&:hover {
		background-color: darkred;
		color: white;
	}
	&:nth-child(2n) {
		margin: 0px auto 0px 0px;
	}
}
.dragon__heart {
	width: 70px;
	cursor: pointer;
}
