.header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 80px;
	z-index: 3;
	background-image: linear-gradient(to right top, #051937, #1c2d55, #334376, #4d5a97, #6872ba);
}
.header__container {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.header__logo {
	font-size: 30px;
	width: 100%;
	color: white;
	display: block;
	text-decoration: none;
}
.header__favorite {
	position: relative;
	width: 700px;
}
.header__heart {
	width: 50px;
	margin: auto 0px auto auto;
	cursor: pointer;
}
.header__quantity {
	background-color: white;
	position: absolute;
	right: 30px;
	top: -10px;
	color: black;
	padding: 3px 10px;
	border-radius: 50%;
}

@media (max-width: 782px) {
	.header__container {
		padding-left: 10px;
		padding-right: 10px;
	}
}
